{{!< auth}}
<div class="login-box">
    <div class="login-logo">
        <a href="/"><b>COMP</b>ACT</a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">hanya untuk <strong>Administrator</strong></p>
        <div class="form-group has-feedback">
            <input id="username" type="text" class="form-control" placeholder="Username">
            <i class="mdi form-control-feedback mdi-account"></i>
        </div>
        <div class="form-group has-feedback">
            <input id="password" type="password" class="form-control" placeholder="Password">
            <i class="mdi form-control-feedback mdi-lock"></i>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="checkbox icheck">
                    <label><input id="remember" type="checkbox"> Ingat Saya</label>
                </div>
            </div>
            <div class="col-xs-4">
                <button id="masuk" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" class="btn btn-primary btn-block btn-flat btn-login">Masuk</button>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="text-center">
        Version 1.0.23<br>
        Copyright &copy; 2016
        <b><a href="https://alfacode.me" class="text-black"> Alfacode.me</a></b>
        <br> All rights reserved <br><br>
    </div>
</footer>