{{!< frontend}}

{{> frontend-title}}

<section class="section-padding">
    <div class="container">
        <div class="table-responsive">
            <table class="table table-hover table-condensed table-striped ">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Nama File</th>
                    <th>Tanggal</th>
                    <th>Download</th>
                    <th>Detail</th>
                </tr>
                </thead>
                <tbody>
                {{listfiles files}}
                </tbody>
            </table>
        </div>

    </div>
</section>