{{!< frontend}}

<!-- Hero Section -->
<section class="corporate-banner-1 bg-fixed parallax-bg height-650 valign-wrapper" data-stellar-background-ratio="0.5">
    <div class="valign-cell">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-6">
                    <h1 class="intro-title text-capitalize">{{setting.nameWebsite}}</h1>
                    <p class="lead">Perusahaan yang bergerak dalam bidang jasa-jasa pelayanan bisnis seperti jasa Atestasi, Perpajakan, Konsultasi Managemen dan Training.</p>
                    <a href="/about-us" class="btn btn-lg waves-effect waves-light mt-20">Selengkapnya</a>
                </div><!-- row -->
            </div><!-- row -->
        </div><!-- /.container -->
    </div><!-- /.valign-cell -->
</section>
<!-- Hero Section End -->


<section class="section-padding">
    <div class="container">

        <div class="text-center mb-80">
            <h2 class="section-title text-uppercase">Apa Yang Kami Kerjakan ?</h2>
            <p class="section-sub">KAP. Ashari, CPA adalah suatu Perusahaan yang bergerak dalam bidang jasa-jasa pelayanan bisnis seperti jasa Atestasi, Perpajakan,  Konsultasi Managemen dan Training. Perusahaan ini berdiri semenjak bulan Februari 2015.
        </p>
        </div>

        <div class="row no-gutter">
            <div class="col-md-3 col-sm-6">
                <div class="featured-box dark-bg lighten-2 text-center z-depth-1">
                    <div class="featured-wrapper">
                        <div class="intro-header">
                            <h2 class="white-text">Atestasi</h2>
                        </div>
                    </div><!-- /.featured-wrapper -->
                </div><!-- /.featured-box  -->
            </div><!-- /.col-md-3 -->

            <div class="col-md-3 col-sm-6">
                <div class="featured-box green-bg text-center z-depth-1">
                    <div class="featured-wrapper">
                        <div class="intro-header">
                            <h2 class="white-text">Perpajakan</h2>
                        </div>
                    </div><!-- /.featured-wrapper -->
                </div><!-- /.featured-box  -->
            </div><!-- /.col-md-3 -->

            <div class="col-md-3 col-sm-6">
                <div class="featured-box dark-bg lighten-2 text-center z-depth-1">
                    <div class="featured-wrapper">
                        <div class="intro-header">
                            <h2 class="white-text">Konsultasi Management</h2>
                        </div>
                    </div><!-- /.featured-wrapper -->
                </div><!-- /.featured-box  -->
            </div><!-- /.col-md-3 -->

            <div class="col-md-3 col-sm-6">
                <div class="featured-box green-bg text-center z-depth-1">
                    <div class="featured-wrapper">
                        <div class="intro-header">
                            <h2 class="white-text">Training</h2>
                        </div>
                    </div><!-- /.featured-wrapper -->
                </div><!-- /.featured-box  -->
            </div><!-- /.col-md-3 -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</section>


<section class="section-padding">
    <div class="container">

        <div class="text-center mb-80">
            <h2 class="section-title text-uppercase">Mengapa memilih kami ?</h2>
            <p class="section-sub"></div>

        <div class="row">
            <div class="col-md-8">
                <div class="vertical-tab">
                    <div class="row">
                        <div class="col-sm-4">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs nav-stacked" role="tablist">
                                <li role="presentation" class="active"><a href="#tab-5" class="waves-effect waves-light"
                                                                          role="tab" data-toggle="tab">Tentang Kami</a></li>
                                <li role="presentation"><a href="#tab-6" class="waves-effect waves-light" role="tab"
                                                           data-toggle="tab">Layanan</a></li>
                                <li role="presentation"><a href="#tab-7" class="waves-effect waves-light" role="tab"
                                                           data-toggle="tab">Visi dan Misi</a></li>
                                <li role="presentation"><a href="#tab-8" class="waves-effect waves-light" role="tab"
                                                           data-toggle="tab">Staff</a></li>
                            </ul>

                        </div><!-- /.col-md-3 -->

                        <div class="col-sm-8">
                            <!-- Tab panes -->
                            <div class="panel-body">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="tab-5">
                                        <h2>Tentang Kami</h2>
                                        <p style="text-align: justify;">KAP. Ashari, CPA adalah suatu Perusahaan yang bergerak dalam bidang jasa-jasa pelayanan bisnis seperti jasa Atestasi, Perpajakan,  Konsultasi Managemen dan Training.</p>
                                        <p style="text-align: justify;">Perusahaan ini berdiri semenjak bulan Februari 2015. Perusahaan ini juga bersinerji dengan jasa-jasa profesi lain seperti : Perusahaan Jasa Penilaian, Perusahaan Jasa Pelayanan Hukum, Perusahaan Jasa Electronic Data Processing (EDP System).</p>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab-6">
                                        <h2>Layanan</h2>
                                        <p style="text-align: justify;">Kurun waktu 14 tahun berkecimpung dalam dunia bisnis Akuntan Publik memang belum begitu lama, tetapi telah cukup dewasa dan mampu mengatasi berbagai permasalahan yang timbul selama tugas profesi akuntan.</p>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab-7">
                                        <h2>Visi dan Misi</h2>
                                        <p style="text-align: justify;">Tantangan yang dihadapi oleh penguasa adalah masalah yang timbul dalam tubuh Perusahaan. Tantangan itu juga merupakan bagian tidak terpjsahkan oleh kami sebagai Akuntan dan juga sebagai konsultant baik dalam perpajakan dan juga sebagi konsultant dalam management.</p>
                                        <p style="text-align: justify;">Kami tetap komit kepada perjuangan pengusaha untuk menopangnya mencapai ambisi-ambisi bisnisnya. Profesi kami sebagai pelayang pemberi masukan informasi dan solusi bagi para penguasa serta para eksekutif perusahaan Komitmen kami adalah menciptakan nilai bagi keunggulan kompetitif perusahaan.</p>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab-8">
                                        <h2>Staff</h2>
                                        <p style="text-align: justify;">Tenaga-tenaga Auditor dan Akuntan serta Konsultan kami dapat bekerja professional dan mampu mengerjakan berbagai macam jenis pelayanan dalam lingkup profesi Akuntan. KAP Ashari, CPA memiliki tenaga Auditor dan konsultan sebanyak 14 orang, diantaranya 1 orang Pimpinan, 1 orang kepala kantor, satu orang quality control, 3 kepala divisi  dan Tenaga Auditor Lapangan sebanyak 8 orang.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.vertical-tab -->
            </div>
            <div class="col-md-4">
                <h2 class="text-bold ">Jasa Pelayanan</h2>

                <div class="progress-section">
                    <span class="progress-title">Jasa Atestasi</span>
                </div>
                <div class="progress-section">
                    <span class="progress-title">Jasa Perpajakan</span>
                </div>
                <div class="progress-section">
                    <span class="progress-title">Jasa Konsultasi Managemen</span>
                </div>
                <div class="progress-section">
                    <span class="progress-title">Jasa Training</span>
                </div>

            </div>
        </div><!-- /.row -->

    </div><!-- /.container -->
</section>


<section class="ptb-50 gray-bg">
    <div class="container-fluid">
        <div class="row equal-height-row">
            <div class="col-md-4 consultancy-man equal-height-column">
                <img src="/src/frontend/assets/img/corporate/consultancy-bg.png" alt="">
            </div>
            <div class="col-md-8">
                <div class=" equal-height-column valign-wrapper">
                    <div class="valign-cell consultancy-wrapper">
                        <h2 class="text-bold">Apakah Anda membutuhkan jasa Akuntan Publik?</h2>
                        <p>Kurun waktu 14 tahun berkecimpung dalam dunia bisnis Akuntan Publik memang belum begitu lama, tetapi telah cukup dewasa dan mampu mengatasi berbagai permasalahan yang timbul selama tugas profesi akuntan.</p>

                        <form name="contact-form" id="contactForm" method="POST">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-field">
                                        <input type="text" name="name" class="validate" id="name">
                                        <label for="name" class="">Nama</label>
                                    </div>

                                </div><!-- /.col-md-6 -->

                                <div class="col-md-6">
                                    <div class="input-field">
                                        <input id="phone" type="tel" name="phone" class="validate">
                                        <label for="phone" class="">Nomor Telphone</label>
                                    </div>
                                </div><!-- /.col-md-6 -->
                            </div><!-- /.row -->

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="input-field">
                                        <input id="website" type="text" name="website" class="validate">
                                        <label for="website" class="">Subjek</label>
                                    </div>
                                </div><!-- /.col-md-6 -->

                                <div class="col-md-6">
                                    <div class="input-field">
                                        <label class="sr-only" for="email">Email</label>
                                        <input id="email" type="email" name="email" class="validate">
                                        <label for="email" data-error="wrong" data-success="right" class="">Email</label>
                                    </div>
                                </div><!-- /.col-md-6 -->
                            </div><!-- /.row -->

                            <div class="input-field">
                                <textarea name="message" id="message" class="materialize-textarea"></textarea>
                                <label for="message" class="">Pesan</label>
                            </div>

                            <button type="submit" name="submit" class="waves-effect waves-light btn submit-button mt-30">Kirim Pesan</button>
                        </form>
                    </div><!-- /.valign-cell -->
                </div><!-- /.valign-middle -->
            </div><!-- /.col-md-9 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>