{{!< backend}}
<div class="box box-primary mini-widget">
    <div class="box-header with-border">
        <h3 class="box-title">Edit File</h3>
    </div>
    <form method="post" enctype="multipart/form-data">
        <div class="box-body">
            <div class="form-group">
                <label>Id File</label>
                <input id="id" value="{{file._id}}" type="text" class="form-control" disabled>
            </div>
            <div class="form-group">
                <label>Nama File</label>
                <input id="name" value="{{file.name}}" type="text" class="form-control" placeholder="Nama File">
            </div>
            <div class="form-group">
                <label>Deskripsi File</label>
                <textarea id="desc" value="{{file.desc}}" class="form-control" rows="5">{{file.desc}}</textarea>
            </div>
        </div>
    </form>
    <div class="box-footer">
        <div class="row">
            <div class="col-xs-6">
                <a href="/backend/files/list" class="btn btn-flat btn-block btn-danger">Batal</a>
            </div>
            <div class="col-xs-6">
                <button id="update" class="btn btn-primary btn-block btn-flat" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">Perbarui</button>
            </div>
        </div>
    </div>
</div>